{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": "commonjs"
            }
        ]
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "alias": {
                    "@": "./src"
                }
            }
        ]
    ]
}